<nav>
    <div class="siteTitle">
     
        <a href="\"> CCLF BLOGS</a>
        <p>Per audica as Astra Abyssosque</p>
    </div>
    <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>