<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class = "about content">
        <h2> About the website</h2>
        <p>Created as a Prefinal requirement for CSDC105, Trends in Application development, this website shall show off my general skills learned over the course of the semester so far</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>